/* MOBILE FIRST */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
    background-image: url(fundo.jpg.jpg);
    background-repeat: repeat;
    background-size: 310%;
}

/* HEADER CONFIGURATION */
.header{
    display: flex;
    background-color: rgb(193, 242, 233);
}
.header img{
    display: flex;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}
.header h1{
    width: 100%;
    font-size: 2.2rem;
    margin: auto;
    font-family: system-ui;
    color: 	#ffee00;
    -webkit-text-stroke-color: #a5a5a5;
    -webkit-text-stroke-width: .5px;
}


/* MAIN CONFIGURATION*/
/* Addition */
.addition{
    width: 90%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    color: #000;
    border-color:#ffbb00;
    background-color: rgba(193, 242, 233, 0.911);
    font-family: system-ui;
}
.addition legend{
    font-size: 2rem;
    margin: 0 auto;
    font-weight: bold;
}
.addition label{
    font-size: 1.6rem;
}
.addition input{
    font-size: 1.5rem;
}
.addition .AdditionResult{
    text-decoration: underline;
}
.addition .AdditionDelete{
    font-size: 1.4rem;
    background-color: #ffbb00d4;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.addition output{
    font-size: 2rem;
    font-weight: bold;
}

/* Subtraction */
.subtraction{
    width: 90%;
    height: 30%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
    color: #000;
    border-color:#ffbb00;
    background-color: rgba(193, 242, 233, 0.911);
    font-family: system-ui;
}
.subtraction legend{
    font-size: 2rem;
    margin: 0 auto;
    font-weight: bold;
}
.subtraction label{
    font-size: 1.6rem;
}
.subtraction input{
    font-size: 1.5rem;
}
.subtraction .SubtractionResult{
    text-decoration: underline;
}
.subtraction .SubtractionDelete{
    font-size: 1.4rem;
    background-color: #ffbb00d4;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.subtraction output{
    font-size: 2rem;
    font-weight: bold;
}

/* Multiplication */
.multiplication{
    width: 90%;
    height: 30%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
    color: #000;
    border-color:#ffbb00;
    background-color: rgba(193, 242, 233, 0.911);
    font-family: system-ui;
}
.multiplication legend{
    font-size: 2rem;
    margin: 0 auto;
    font-weight: bold;
}
.multiplication label{
    font-size: 1.6rem;
}
.multiplication input{
    font-size: 1.5rem;
}
.multiplication .MultiplicationResult{
    text-decoration: underline;
}
.multiplication .MultiplicationDelete{
    font-size: 1.4rem;
    background-color: #ffbb00d4;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.multiplication output{
    font-size: 2rem;
    font-weight: bold;
}


/* Division */
.division{
    width: 90%;
    height: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: center;
    color: #000;
    border-color:#ffbb00;
    background-color: rgba(193, 242, 233, 0.911);
    font-family: system-ui;
}
.division legend{
    font-size: 2rem;
    margin: 0 auto;
    font-weight: bold;
}
.division label{
    font-size: 1.6rem;
}
.division input{
    font-size: 1.5rem;
}
.division .DivisionResult{
    text-decoration: underline;
}
.division .DivisionDelete{
    font-size: 1.4rem;
    background-color: #ffbb00d4;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.division output{
    font-size: 2rem;
    font-weight: bold;
}
